html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, Cantarell, Ubuntu, roboto, noto, helvetica, arial, sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  background-image: url(andrew-neel-DLD5LvnFblU-unsplash.jpg);
  background-size: cover;
}

.container {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  padding: 16px;
}

.card {
  padding: 24px;
  background: rgba(72, 72, 72, 0.7);
  backdrop-filter: blur(5px);
  border-radius: 48px;
  border-width: 2px;
  border-color: transparent;
  border-image-source: url(border-image.svg);
  border-image-slice:  16%;
  border-image-width: 48px;
  color: #fff;
}

.inner-card {
  border-radius: 16px;
  padding: 16px;
  background-color: rgba(50, 50, 50, 0.7);
}

.btn {
  width: 100%;
  padding: 16px;
  border-radius: 48px;
  border: none;
  font-weight: bold;
}